In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from sklearn import tree
import pandas as pd
import numpy as np
import utils as helper

In [3]:
data = pd.read_csv("../data/tennis/tennis.csv")
data.head(5)

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

In [4]:
# wrangling the data according to the question.
data_wrangled = data.copy()
data_wrangled.iloc[2,0] = np.NaN
data_wrangled.head(5)

  outlook  temp humidity  windy play
0   sunny   hot     high  False   no
1   sunny   hot     high   True   no
2     NaN   hot     high  False  yes
3   rainy  mild     high  False  yes
4   rainy  cool   normal  False  yes

In [5]:
# priting out the mode
data_wrangled.iloc[:, 0].mode()

0    rainy
1    sunny
dtype: object

In [6]:
# the values of outlook provided in the wrangled data
data_wrangled.iloc[:, 0].value_counts()

rainy       5
sunny       5
overcast    3
Name: outlook, dtype: int64

In [7]:
# unwrangling the data with mode.
data_unwrangled = data_wrangled.fillna(data_wrangled.iloc[:, 0].mode()[0])
data_unwrangled.head(5)

  outlook  temp humidity  windy play
0   sunny   hot     high  False   no
1   sunny   hot     high   True   no
2   rainy   hot     high  False  yes
3   rainy  mild     high  False  yes
4   rainy  cool   normal  False  yes

In [8]:
from dt import DecisionTreeClassifier

In [9]:
tree = DecisionTreeClassifier(method='gini', max_depth=5)
tree.train(data_unwrangled)
helper.parser(tree.root)

Question: Is 2th Column = normal
  T: Question: Is 3th Column = True
    T: Question: Is 0th Column = rainy
      T: Predict: no
      F: Predict: yes
    F: Predict: yes
  F: Question: Is 0th Column = sunny
    T: Predict: no
    F: Question: Is 3th Column = True
      T: Question: Is 0th Column = overcast
        T: Predict: yes
        F: Predict: no
      F: Predict: yes

In [10]:
originalTree = DecisionTreeClassifier(method='gini', max_depth=5)
originalTree.train(data)
helper.parser(originalTree.root)

Question: Is 0th Column = overcast
  T: Predict: yes
  F: Question: Is 2th Column = high
    T: Question: Is 0th Column = rainy
      T: Question: Is 3th Column = False
        T: Predict: yes
        F: Predict: no
      F: Predict: no
    F: Question: Is 3th Column = True
      T: Question: Is 0th Column = rainy
        T: Predict: no
        F: Predict: yes
      F: Predict: yes