In [9]:
from sklearn import tree
import pandas as pd
import numpy as np

In [10]:
data = pd.read_csv("../data/tennis/tennis.csv")
data.head(5)

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

In [13]:
# wrangling the data according to the question.
data.iloc[2,0] = np.NaN
data.head(5)

  outlook  temp humidity  windy play
0   sunny   hot     high  False   no
1   sunny   hot     high   True   no
2     NaN   hot     high  False  yes
3   rainy  mild     high  False  yes
4   rainy  cool   normal  False  yes

In [14]:
# priting out the mode
data.iloc[:, 0].mode()

0    rainy
1    sunny
dtype: object

In [22]:
# the values of outlook provided in the wrangled data
data.iloc[:, 0].value_counts()

rainy       5
sunny       5
overcast    3
Name: outlook, dtype: int64

In [24]:
# unwrangling the data with mode.
data_unwrangled = data.fillna(data.iloc[:, 0].mode()[0])
data_unwrangled.head(5)

  outlook  temp humidity  windy play
0   sunny   hot     high  False   no
1   sunny   hot     high   True   no
2   rainy   hot     high  False  yes
3   rainy  mild     high  False  yes
4   rainy  cool   normal  False  yes