Implementation from this repository

In [13]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [14]:
import pandas as pd
import numpy as np

In [15]:
data_loc = "../data/iris/"
%ls {data_loc}

Index  iris.csv  iris.names

In [16]:
data = pd.read_csv(data_loc + "iris.csv")
data.head(6)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa

In [17]:
data.isnull().any() # any null value?

5.1            False
3.5            False
1.4            False
0.2            False
Iris-setosa    False
dtype: bool

Splitting into train test data

In [18]:
from sklearn.model_selection import train_test_split
Rows_train, Rows_test = train_test_split(data, test_size=.3)

In [19]:
Rows_test.head(5)

     5.1  3.5  1.4  0.2      Iris-setosa
101  7.1  3.0  5.9  2.1   Iris-virginica
126  6.1  3.0  4.9  1.8   Iris-virginica
67   6.2  2.2  4.5  1.5  Iris-versicolor
9    5.4  3.7  1.5  0.2      Iris-setosa
43   5.1  3.8  1.9  0.4      Iris-setosa

In [20]:
Rows_train.head(5)

     5.1  3.5  1.4  0.2      Iris-setosa
131  6.4  2.8  5.6  2.2   Iris-virginica
75   6.8  2.8  4.8  1.4  Iris-versicolor
68   5.6  2.5  3.9  1.1  Iris-versicolor
48   5.0  3.3  1.4  0.2      Iris-setosa
127  6.4  2.8  5.6  2.1   Iris-virginica

Training on personal implementation

In [21]:
from dt import DecisionTreeClassifier
mydt = DecisionTreeClassifier(method='gini', max_depth=5)
mydt.train(Rows_train)

In [22]:
from sklearn.tree import DecisionTreeClassifier as SkDecisionTreeClassifier
skdt = SkDecisionTreeClassifier(criterion='gini', max_depth=5)
skdt.fit(Rows_train.iloc[:, :-1], Rows_train.iloc[:, -1])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [23]:
my_preds = np.squeeze(mydt.predict(Rows_test).values)
sk_preds = skdt.predict(Rows_test.iloc[:, :-1])

In [24]:
true = Rows_test.iloc[:, -1].values
my_acc = ((true == my_preds).sum())/Rows_test.shape[0]
sk_acc = ((true == sk_preds).sum())/Rows_test.shape[0]
print ("my_acc:", my_acc) 
print ("sk_acc:", sk_acc)

my_acc: 0.37777777777777777
sk_acc: 0.9555555555555556

In [25]:
Rows_test.iloc[:1, :]

     5.1  3.5  1.4  0.2     Iris-setosa
101  7.1  3.0  5.9  2.1  Iris-virginica