# Performance Difference
w.r.t. the time taken as well as the accuracy of the two regressors (sklearn's and my implementation)

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from dt import DecisionTreeRegression
import pandas as pd
from utils import parser
from sklearn.tree import DecisionTreeRegressor as SkDecisionTreeRegression
from sklearn.model_selection import train_test_split

In [3]:
d = pd.read_excel("../data/real_estate/dataset.xlsx")
d.head(6)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.916667,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583333,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500000,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1
5,6,2012.666667,7.1,2175.03000,3,24.96305,121.51254,32.1

In [4]:
dTrain, dTest = train_test_split(d, test_size=.3)

### Time Required: train()
Training my DT Regressor

In [5]:
dt = DecisionTreeRegression(max_depth=3, method='std')
%time dt.train(dTrain)

CPU times: user 9.12 s, sys: 39.5 ms, total: 9.16 s
Wall time: 9.15 s

Training sk DT

In [6]:
skdt = SkDecisionTreeRegression(max_depth=3, criterion='mse')
%time skdt.fit(dTrain.iloc[:, :-1], dTrain.iloc[:, -1])

CPU times: user 5.28 ms, sys: 0 ns, total: 5.28 ms
Wall time: 4.69 ms

DecisionTreeRegressor(criterion='mse', max_depth=3, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

### Time Required: predict()

In [7]:
# passing sample test cases from the data
# the argument passed should be a pd DF
%time my_pred = dt.predict(dTest.iloc[:, :-1])

CPU times: user 485 ms, sys: 7.88 ms, total: 493 ms
Wall time: 489 ms

In [8]:
# passing sample test cases from the data
# the argument passed should be a pd DF
%time sk_pred = skdt.predict(dTest.iloc[:, :-1])

CPU times: user 1.49 ms, sys: 0 ns, total: 1.49 ms
Wall time: 1.33 ms

In [9]:
from sklearn.metrics import mean_squared_error as mse

In [10]:
y_actual = dTest.iloc[:, -1]
my_mse = mse(y_actual, my_pred)
sk_mse = mse(y_actual, sk_pred)

In [11]:
print("my_mse: ", my_mse)
print("sk_mse: ", sk_mse)

my_mse:  39.44554236011851
sk_mse:  39.06235016456318