# Visualizing the DT

In [1]:
%load_ext autoreload
%autoreload 2

from dt import DecisionTreeRegression
import pandas as pd
from utils import parser

d = pd.read_excel("../data/real_estate/dataset.xlsx")
d.head(6)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.916667,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583333,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500000,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1
5,6,2012.666667,7.1,2175.03000,3,24.96305,121.51254,32.1

### Training

In [2]:
dt = DecisionTreeRegression(max_depth=4, method='std')
dt.train(d)

Printing the whole DT learnt for visualization

## Parse / Visualization

In [3]:
parser(dt.root)

Question: Is 3th Column >= 995.7554
  T: Question: Is 6th Column >= 121.50827
    T: Question: Is 5th Column >= 24.98407
      T: Question: Is 2th Column >= 12.5
        T: Predict: 31.466666666666665
        F: Predict: 42.36666666666667
      F: Question: Is 2th Column >= 30.3
        T: Predict: 18.900000000000002
        F: Predict: 26.465432098765437
    F: Question: Is 1th Column >= 2013.5
      T: Question: Is 2th Column >= 23.0
        T: Predict: 22.700000000000003
        F: Predict: 17.44
      F: Question: Is 2th Column >= 16.0
        T: Predict: 14.886666666666665
        F: Predict: 17.1125
  F: Question: Is 2th Column >= 11.8
    T: Question: Is 3th Column >= 333.3679
      T: Question: Is 5th Column >= 24.96412
        T: Predict: 39.37830188679246
        F: Predict: 30.00833333333333
      F: Question: Is 2th Column >= 35.4
        T: Predict: 56.55
        F: Predict: 44.156363636363636
    F: Question: Is 6th Column >= 121.53059
      T: Question: Is 6th Column >= 121.5431
        T: Predict: 55.18461538461539
        F: Predict: 48.71632653061225
      F: Predict: 68.76666666666667

### Prediction

In [4]:
# passing sample test cases from the data
# the argument passed should be a pd DF
dt.predict(d.iloc[4:7, :-1])

           0
4  48.716327
5  26.465432
6  39.378302