In [1]:
import pandas as pd

In [4]:
d = pd.read_excel("dataset.xlsx")

In [6]:
# lle = len(d)
a = d.iloc[1:6, :]
a.iloc[0, 1] = 189785
d.head(6)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,189785.000000,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583333,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500000,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1
5,6,2012.666667,7.1,2175.03000,3,24.96305,121.51254,32.1

In [7]:
mask = d.iloc[:, 2] <= -1
left = d[mask]
left.shape

(0, 8)

In [41]:
d.shape

(414, 8)

In [39]:
d.count()

No                                        414
X1 transaction date                       414
X2 house age                              414
X3 distance to the nearest MRT station    414
X4 number of convenience stores           414
X5 latitude                               414
X6 longitude                              414
Y house price of unit area                414
dtype: int64

In [25]:

a.head(6)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station
1,189785,2012.916667,19.5,306.5947
2,3,2013.583333,13.3,561.9845
3,4,2013.500000,13.3,561.9845
4,5,2012.833333,5.0,390.5684
5,6,2012.666667,7.1,2175.0300

In [4]:
ufo = pd.read_csv("com")

KeyboardInterrupt:

In [43]:
values = d.iloc[:, -1].value_counts()

In [44]:
values.head()

42.0    4
37.5    4
42.3    4
31.3    4
40.3    4
Name: Y house price of unit area, dtype: int64

In [45]:
values.keys()

Float64Index([42.0, 37.5, 42.3, 31.3, 40.3, 37.4, 24.7, 40.6, 29.3, 42.5,
              ...
              38.6, 55.9, 16.1, 43.4, 11.6, 20.8, 18.6, 47.4, 57.1, 50.5],
             dtype='float64', length=270)

In [49]:
def summ(data, s = None):
    cols = data.shape
#     print (data)
    return data.values[2]

In [51]:
d.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,189785.000000,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583333,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500000,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1

In [54]:
ii = d.iloc[:4, :].apply(summ, axis=1)
ii.to_frame()

      0
0  32.0
1  19.5
2  13.3
3  13.3

In [48]:
d.iloc[1, :].to_frame().transpose()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
1,2.0,189785.0,19.5,306.5947,9.0,24.98034,121.53951,42.2

In [55]:
d.iloc[:, 0:0].std()

Series([], dtype: float64)

In [57]:
import numpy as np
a = [13, 3, 4, 3]
a = np.array(a)

In [58]:
a.std()

4.205650960315181

---

In [10]:
from dt import DecisionTreeClassifier
import numpy as np
import pandas as pd
from utils import parser

In [5]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [17]:
sample_raw = [[1,1,'A'],
              [1, 50, 'B'], 
              [100, 1, 'D'], 
              [100, 50, 'C']]
sample = pd.DataFrame(sample_raw)
sample

     0   1  2
0    1   1  A
1    1  50  B
2  100   1  D
3  100  50  C

In [18]:
dt = DecisionTreeClassifier(max_depth=2)
dt.train(sample)

In [24]:
parser(dt.root)

Question: Is 1th Column >= 50
  T: Question: Is 0th Column >= 100
    T: Predict: C
    F: Predict: B
  F: Question: Is 0th Column >= 100
    T: Predict: D
    F: Predict: A